<%= image_tag('redmetalworks.jpeg', style: "width: 20%;", id: "logo") %>
<ul class="pull-right">
	<li><%= link_to 'about <i class="fa fa-coffee"></i>'.html_safe, '#' %></li>
	<li><%= link_to 'team <i class="fa fa-users"></i>'.html_safe, '#' %></li>
	<li><%= link_to 'works <i class="fa fa-cogs"></i>'.html_safe, '#' %></li>
	<li><%= link_to 'contact <i class="fa fa-phone"></i>'.html_safe, '#' %></li>
</ul>